/Lições/java/Projeto_P2/nbproject/private/
/Lições/java/Projeto_P2/build/
/Lições/java/ProjetoP2/nbproject/private/
/Lições/java/ProjetoP2/build/
/Lições/java/JavaApplication (cópia)/build/
/Lições/java/JavaApplication (cópia)/dist/
/Lições/java/JavaApplication (cópia)/nbproject/private/
/Lições/java/JavaApplication/dist/
/Lições/java/ProjetoP2/dist/
